.projects{
 display: flex;
 flex-direction: column;
 text-align: center;
 margin: 30px 0;
}

.hover{
    max-width: 250px;
    height: 250px;
    align-self: center;
    border-radius: 20px;
    background-color: var(--project-card-color);
    object-fit:contain;
}

.project_card{
    object-fit: cover;
    width: fit-content;
    color: #222;
    transition: transform 200ms ease-in-out;
}
.project_card:hover{
    transform: scale(1.05);
}
.projects_container{
    display: flex;
    justify-content: space-around;
}
@media(width >= 800px){
    .projects_container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 30px;
    }
}

@media screen and (max-width : 800px) {
    .projects_container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 30px;
    }
    .hover{
        max-width: 230px;
        height: 230px;
    }
    .project_card{
      margin:10px 0
    }
}